# Environment
.env
.env.local
.env.production

# Docker

# Node
node_modules/

# Git
.git/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Misc
*.bak
*.tmp